body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
    max-width: 1400px;
    width: 100%;
}
.card {
    width: 90%;
    max-width: 400px;
    min-height: 350px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
    margin: 20px 0;
    border-right: 8px solid hsl(0, 0%, 0%);
    border-bottom: 8px solid hsl(0, 0%, 0%)
  }
  .container{
    display: flex;
    flex-direction: column;
    margin:0;
  }

  .card-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0;
    padding: 0;
  }
  .tag{
    font-family: figtree-variable, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: hsl(0, 0%, 0%);
    background-color: hsl(47, 88%, 63%);
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
    width:fit-content;
  }

  p{
    font-family: figtree-italic, sans-serif;
    font-size: 14px;
    color: hsl(0, 0%, 0%);
    margin: 8px 0;
  }

  .card-title{
    color: hsl(47, 88%, 63%);
    font-family: figtree-variable, sans-serif;
    margin: 8px 0;
  }
    .description{
        font-family: figtree-italic, sans-serif;
        font-size: 14px;
        color:  hsl(0, 0%, 42%);
        margin: 8px 0;
    }
    .author-info{
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .author-name {
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    color: #000;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
  }

  .attribution a{
    color: hsl(0, 0%, 42%);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: figtree-variable, sans-serif;
  }


    .attribution a:hover{
        text-decoration: underline;
    }
    @media (max-width: 768px) {
        .card {
            width: 90%;
            height: auto;
            max-width: 100%;
            padding: 10px;
            margin: 10px 0;
        }
        .card-image {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
        .tag {
            font-size: 12px;
            padding: 6px 10px;
        }
        p {
            font-size: 12px;
        }
        .card-title {
            font-size: 16px;
        }
        .description {
            font-size: 12px;
        }
        
    }
  